.navigation__menu {
  list-style: none;
}

.menu__list-link {
  display: none;

  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5em;
  text-decoration: none;
  text-transform: uppercase;

  color: #22262a;

  & .is-open {
    display: block;
  }
}
