<article class="card">
  <div class="card-thumb">
    <img src="./images/vanilabackery.jpg" alt="" width="370" height="390" />
    <div class="card-img-content">
      <p>
        «Winter apple” - муссовый десерт, ради которого я шла в марафон, ведь здесь давалась та
        самая техника покрытия пирожного, после которой можно брать руками пирожное
      </p>
    </div>

    <div class="card__action-top">
      <a
        href="https://www.instagram.com/vanilla.bakery_/"
        class="btn"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg width="30" height="30">
          <use href="./images/sprite/sprite.svg#icon-instagram"></use>
        </svg>
      </a>
      <a
        href="https://www.facebook.com/anaaastasiaa.t"
        class="btn"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg width="30px" height="30px">
          <use href="./images/sprite/sprite.svg#icon-facebook"></use>
        </svg>
      </a>
      <a href="" class="btn">
        <svg width="30px" height="30px">
          <use href="./images/sprite/sprite.svg#icon-twitter"></use>
        </svg>
      </a>
    </div>
    <div class="card__action-bottom">
      <a href="" class="btn">
        <svg width="30px" height="30px">
          <use href="./images/sprite/sprite.svg#icon-tel-header"></use>
        </svg>
      </a>
      <a href="" class="btn">
        <svg width="30px" height="30px">
          <use href="./images/sprite/sprite.svg#icon-envelope-header"></use>
        </svg>
      </a>
      <a href="" class="btn">
        <svg width="30px" height="30px">
          <use href="./images/sprite/sprite.svg#icon-map"></use>
        </svg>
      </a>
    </div>
  </div>
  <div class="card-content">
    <p class="card-description"><strong>«Winter apple”</strong></p>
    <h3 class="card-type">муссовый десерт</h3>
  </div>
</article>
